body {
    background-color: #252b33;
    color: white;
}

.card {
    background-color: #222325;
    color: white;
}

.multiple-choice .hint .hint-text {
    background-color: #222325;
    color: white;
}

.multiple-choice li {
    background-color: #222325;
    color: white;
}

.text-coclor {
    color: white;
}

.text-coclor-black {
    color: black;
}

/*меню*/
.bg-body {
    background-color: #222;
    border-color: #080808;
}

.nav-link {
    color: #9d9d9d;
}

    .nav-link:hover {
        color: white;
    }

    .nav-link:focus {
        color: white;
    }

nav-link dropdown-toggle show {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border-color: #333;
}

@media (max-width: 800px) {

    .dropdown-menu {
        background-color: #222;
    }

    .dropdown-item {
        color: #9d9d9d;
    }

        .dropdown-item:focus, .dropdown-item:hover {
            background-color: transparent;
            color: white;
        }
}
/*меню*/
/*таблица*/
#customers td, #customers th {
    border: 1px solid black;
}

#customers tr:nth-child(even) {
    background-color: #2e343c;
}

#customers tr:hover {
    background-color: #101010;
}
@media (max-width: 800px) {

    table tr {
        background-color: #222325;
    }
}
    /*таблица*/
