<div style="text-align:center;">
    <img src="~/Resources/imgBotton/Approve.png" class="imgError" />
    <h1>Ваше сообщение успешно отправленно</h1>
    <a class="btn btn-primary dsafhjy" style="width: 150px; margin-top: 10px; margin-bottom: 1.5rem;" href="javascript:history.back()">Назад<br></a>
</div>

<style>
    .imgError {
        width: 40%;
    }
</style>
