<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Resources/imgBotton/nosor.png" class="imgError" />
        <h2 style="padding: 0px 10px 0px 10px;">При обработке запроса произошла ошибка, или вы перешли по неправильной ссылке</h2>
        <a class="btn btn-primary" style="width: 150px; margin-top: 10px; margin-bottom: 1.5rem;" href="javascript:history.back()">Назад<br></a>
    </div>
</body>
</html>